.aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 90rem;
  padding-top: 2.25rem;
  padding-left: 0.5rem;
  width: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  scroll-behavior: smooth;

  @include respond-tablet-landScape {
    grid-column: 1 / 4;
    background-color: $backgroundColor;

    padding-top: 0;
    z-index: 100;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    &--icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 4.5rem;
      padding-left: 1rem;
      border-radius: 10px;
      transition: all 500ms;

      & .rounded--icons {
        border-radius: 50%;
        background-image: url(../img/background-icons.png);
        background-position: 0px -298px;
        background-size: auto;
        width: 3.7rem;
        height: 3.7rem;
        background-repeat: no-repeat;
        display: inline-block;

        & img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: inherit;
        }
      }
      & .rounded--icons-groups {
        border-radius: 50%;
        background-image: url(../img/background-icons.png);
        background-position: 0px -75px;
        background-size: auto;
        width: 3.5rem;
        height: 3.5rem;
        background-repeat: no-repeat;
        display: inline-block;
      }
      & .rounded--icons-most--recent {
        border-radius: 50%;
        background-image: url(../img/background-icons.png);
        background-position: 0px -443px;
        background-size: auto;
        width: 3.5rem;
        height: 3.5rem;
        background-repeat: no-repeat;
        display: inline-block;
      }
      & .rounded--icons--marketplace {
        border-radius: 50%;
        background-image: url(../img/background-icons.png);
        background-position: 0px -408px;
        background-size: auto;
        width: 3.5rem;
        height: 3.5rem;
        background-repeat: no-repeat;
        display: inline-block;
      }
      & .rounded--icons--watch {
        border-radius: 50%;
        background-image: url(../img/background-icons.png);
        background-position: 0px -517px;
        background-size: auto;
        width: 3.5rem;
        height: 3.5rem;
        background-repeat: no-repeat;
        display: inline-block;
      }
      & .rounded--icons--seemore {
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $navigation-background;

        display: flex;
        align-items: center;
        justify-content: center;

        // background-image: url(../img/background-icons.png);
        // background-position: 0px -517px;
        // background-size: auto;
        // background-repeat: no-repeat;
        // display: inline-block;
      }

      & h4 {
        color: #b0b3b8;
        font-weight: 900;
        font-size: 1.5rem;
      }
      & span {
        color: #fff;
      }

      &:hover {
        background-color: $search-bg;
        cursor: pointer;
      }
    }
  }

  &__shortcuts {
    display: flex;
    flex-direction: column;

    & h4:first-child {
      margin: 1rem 1rem;
      color: $font-color--1;
      font-size: 1.55rem;
    }

    &--icons {
      height: 4.7rem;
      padding-left: 1rem;
      border-radius: 10px;

      display: grid;
      grid-template-columns: max-content 1fr;

      align-items: center;
      gap: 1rem;

      & .shortcut--icons {
        height: 4rem;
        width: 4rem;
        border-radius: 8px;

        & img {
          height: 100%;
          width: 100%;
          border-radius: inherit;
          object-fit: cover;
          display: inline-block;
        }
      }

      & h4 {
        color: #ffff;
        font-size: 1.3rem;
      }
      &:hover {
        background-color: $search-bg;
        cursor: pointer;
      }
    }
  }

  &__copyright {
    // background-color: green;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & ul {
      display: flex;
      column-gap: 1rem;
      row-gap: 0.5rem;
      flex-wrap: wrap;

      & li a {
        font-size: 1.25rem;
        color: $font-color--1;
        font-weight: 500;
      }
    }
  }
}
